
html, body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

nav{
display: flex;
align-items: center;
width: 100%;
padding: 10px 20px;
background-color: #1818188c;
position: fixed;
border-bottom: 1px solid #181818;
}
nav img{
width: 120px;
height: 50px;
padding: 10px 10px;
}
nav span{
color: white;
font-size: 30px;
cursor: pointer;
}
aside{
background-color: #1e2525;
width: 200px;
position: fixed;
top: 0;
left: 0;
bottom: 0;
overflow: hidden;
margin-top: 91px;
transition: 0.5s;
z-index: 3;
transform: translateX(-100%); 

}
aside:hover{
overflow-y: auto;
}
.desplegar{
transform: translateX(-1%);
}
aside::-webkit-scrollbar{
width: 8px;
}
aside::-webkit-scrollbar-thumb{
background-color: #909090;
border-radius: 5px;
}
aside a{
text-decoration: none;
color: white;
}
.inicio-salid{
border-bottom: 1px solid #383838;
padding: 10px 1px;
color: white;
}
.inicio-salid div{
display: flex;
align-items: center;
width: 100%;
padding: 10px 20px;
cursor: pointer;
transition: .4s;
}
.inicio-salid div:hover{
background-color: #230e6e;
}
.inicio-salid i{
padding: 10px 10px;
}
.inicio-salid p {
display: inline;
}
/* kid-psico */
.kid-psico{
border-bottom: 1px solid #383838;
padding: 10px 1px;
color: white;

}
.kid-psico p{
display: inline;
position: relative;
bottom: 18px;
}
.kid-psico div{
display: flex;
align-items: center;
width: 100%;
padding: 10px 20px;
cursor: pointer;
transition: .4s;
}
.kid-psico .maria:hover{
background-color: greenyellow;
}
.kid-psico .maria:hover p{
color: green;
}
.kid-psico .hongo:hover{
background-color: yellow;
}
.kid-psico .hongo:hover p{
color: #181818;
}
.kid-psico .lsd:hover{
background-color: blue;
}
.kid-psico .lsd:hover p{
color: pink;
}
.kid-psico .dmt:hover{
background-color: purple;
}
.kid-psico .dmt:hover p{
color:black;
}

.kid-psico img{
width: 30px;
height: 30px;
padding: 10px 10px;
}
/*  */
.bt{
  padding: 10px 1px;
}
.bt .btK{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  transition: 0.4s;
}
.bt .btK a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.bt .btK p{
  display: inline;
  position: relative;
  margin: 0;
  font-size: 20px;
}
.bt .btK i{
  font-size: 18px;
  padding: 10px 10px;
}
.bt .btK:hover{
  background-color: rgb(150, 62, 62);
}
/* inicio */
.inicio {
background: linear-gradient(0deg, rgba(34, 192, 195, 0.445) 0%, rgba(49, 120, 49, 0.63) ), url(pica.gif);
background-size: 100%;
width: 100%;
height: 100%;
padding: 20px 20px;
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.inicio .logo img{
width: 140px;
height: 200px;
}

.inicio .presentation {
display: flex;
justify-content: left;
padding: 20px 20px;
margin: 0;
}
.inicio h1{
font-family: 'Monoton', sans-serif; 
font-size: 70px;
text-align: inherit;
font-weight: normal;
color: white;
margin:0;
text-shadow: 9px 17px 0px rgba(0,0,0,0.57);
}
.inicio p{
font-family: 'Monoton', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-weight: bold;
font-size: 30px;
color: white;
padding: 20px 10px;
margin: 9px;
}
.inicio .enlaceInci {
padding: 20px 20px;
}
.inicio .enlaceInci .respon{
  display: 
  none;
}
.inicio .enlaceInci img{
text-decoration: none;
color: aliceblue;
text-align: center;
width: 50px;
height: 50px;
margin-right: 10px;
margin-top: -42px;
transform: rotate(90deg);
transition: filter 0.3s;
clip-path: polygon(50% 0, 78% 32%, 78% 71%, 50% 100%, 0 50%);
}
.inicio .enlaceInci img:hover {
filter: invert(1.8);
}

/* info-repas */
.info-repas-inc {
height: 100%;
width: 100%;
background: linear-gradient(90deg, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.80) 100%), url(footer-inicio2.gif);
background-size: cover;
margin: 0;
}
.info-repas-inc h1{
padding: 20px 20px;
margin: 0;
text-align: center;
color: #fff;
font-size: 50px;
}
.info-repas-inc a{
text-align: center;
display: inline-block;
width: 100%;
color: #ffffff00;
font-size: 30px;
}
.info-repas-inc i{
padding: 20px 20px;
}

.info-repas-inc p{
text-align: center;
color: #fff;
padding: 20px 20px;
}
.info-repas-inc .psico{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 50px;
padding: 20px 20px;
}
.info-repas-inc .psico h1{
font-size: 30px;
}
.info-repas-inc .psico p{
text-align: left;
color: #fff;
}

.psico .psicodelicas{
padding: 20px 20px;
background:linear-gradient(#1e252577, #1e252594), url(Gato-Alicia.gif);
background-size: cover;
border-radius: 10px;
}
.psico .psicoactivas{
padding: 20px 20px;
background: linear-gradient(90deg, rgba(0,82,5,0.4) 0%, rgba(0,82,5,0.4) 100%), url(Psicoactivo.gif);
background-size: cover;
border-radius: 10px; 
}
.info-repas-inc .nav-intro{
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
padding: 20px 20px;
}
.info-repas-inc .nav-intro a{
padding: 20px 20px;
transition: 0.5s;
}
.info-repas-inc .nav-intro a:hover{
scale: 1.1;
}
.info-repas-inc .nav-intro img{
width: 50px;
height: 50px;
padding: 20px 20px;
}
/* FORMULARIO */
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url(fondo-form.gif);
  background-size: cover;
  color: white;
  margin: 0;
}
.formulario h1{
  margin: 0;
  padding: 20px 20px;
  text-align: center;
  font-size: 50px;
}
.formulario .form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario .form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: #18181865;
  border: 1px solid #cafb4d;
  border-radius:2%;
}
.formulario .form .wsl{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 9px 9px;
}
.formulario .form .wsl .imput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*  */
.formulario .form .wsl textarea{
  width: 400px;
  background-color: #18181865;
  color: #cafb4d;
  font-size: 20px;
  border: none;
  resize: none;
  transition: 0.4s;
}
.formulario .form .wsl textarea::placeholder { /*capaz este color modificarlo o cambiarlo dependiendo del fondo*/
  color: #c5c5c5;
}
.formulario .wsl textarea:focus{
  outline: none;
  background-color: rgba(128, 128, 128, 0.598);
 }
 .formulario .wsl textarea:active{
  /* box-shadow: 0 0 5px #007BFF */
  background-color: rgba(128, 128, 128, 0.598);
 }
.formulario .wsl textarea:focus::placeholder{
  color: #cafb4d;
}
.formulario .form .wsl input{
  width: 400px;
  height: 56.5px;
  background-color: #18181865;
  font-size: 20px;
  color: #cafb4d;
  border: none;
  transition: 0.4s;
}
.formulario .form .wsl input::placeholder { /*capaz este color modificarlo o cambiarlo dependiendo del fondo*/
  color: #c5c5c5;
}
.formulario .form .wsl input:focus{
  outline: none;
  background-color: rgba(128, 128, 128, 0.598);
}
.formulario .form .wsl input:active{
  background-color: rgba(128, 128, 128, 0.598);
}
.formulario .form .wsl input:focus::placeholder{
  color: #cafb4d;
}

/*  */

.formulario .form button{
  position:relative;
  left:380px;
  cursor:pointer; 
  font-size: 38px;
  background-color: transparent;
  border: none;
} 
.formulario .form i{
  border-radius: 100%;
  border:2px solid white;
  padding: 13px 13px;
  color: white;
  transition: 0.3s;
}
.formulario .form i:hover{
  border: none;
  color: #181818;
  background-color: #B2FF4D;
  font-size: 50px;
}
.formulario .enles{
  padding: 30px 30px;
}
.formulario .enles a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.formulario .enles img{
  width: 100px;
  height: 100px;
  transition: 0.4s;
}
.formulario .enles img:hover{
  transform: scale(1.3);
}
/* conf */
.conf{
  width: 100%;
  height: 100vh;
  background: linear-gradient(#181818b0,#181818b0),url(pica.gif);
  background-position: center;
  background-size: cover;
}
/* footer */
footer {
background: linear-gradient(90deg, rgba(4,64,0,0.5) 0%, rgba(4,64,0,0.5) 100%), url(footer-inicio1.gif);
color: rgb(255, 255, 255);
height: 100%;
width: 100%;
}
footer .box{
width: 100%;
margin: auto;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 50px;
padding: 20px 20px;
}


footer img{
width: 200px;
height: 200px;
}

footer .enlaces{
margin: 0;
background-color:#1e2525;
padding: 50px 50px;
display: flex;
justify-content: center;
align-items: center;
}
footer .enlaces a {
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color:#B2FF4D;
padding: 20px;
text-align: center;
}
footer .copia-deauto{
background-color: black;
width: 100%;
margin: 0;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}

@media screen  and (max-width:700px){
  .inicio {
    background-position: center;
    background-size: cover;
  }
  .inicio .presentation{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .inicio h1{
    width: 100%;
    font-size: 40px;

  }
  .inicio p{
    margin: 0;
  }
  .info-repas-inc .psico{
    display: flex;
    flex-direction: column;
  }
  .info-repas-inc .nav-intro a{
    padding: 0;
  }
  .info-repas-inc .nav-intro img{
    width:25px ;
    height:25px ;
  }
  .inicio .enlaceInci .no-respon{
    display: none;
  }
  .inicio .enlaceInci .respon{
    display: block;
  }
  .inicio .enlaceInci img{
    clip-path: none;
    transform: none;
    filter: invert(80%);
  }
  /* formulario */
  .formulario{
    height: 100%;
    padding: 9px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulario .form form{
    border: none;

  }
  .formulario .form .wsl{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .formulario .form .wsl input{
    width: 400px;
    margin: 9px;
    border-radius: 10px;
    padding: 9px 9px;
  }
  .formulario .form .wsl textarea{
    margin: 9px;
    padding: 9px 9px;
  }
  .formulario .form button{
    left: 0px;
  }
  .formulario .form i{
    border: none;
    background-color: white;
    color: #181818;
  }
  /* footer */
  footer .box{
    display: none;
  }
  footer .enlaces{
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  footer .enlaces a{
    font-size: 10px;
  }
  footer .copia-deauto{
    font-size: 10px;
  }

}